{% load mytags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Musikov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Markov Chains and Midi Files">
    <meta name="author" content="Tom O'Connor">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
 
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Musikov</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <!-- <li><a href="/generate">Generate</a></li> -->
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8">
          <div id="alertspace"></div>
            
          
          <h2>Pre-generated Chains</h2>
          <div class="pagination">
            <ul>
              <li><a>Page Select</a></li>
              {% for page in page_list %}
              <li><a href="#" onClick="pageList({{page}});">{{page}}</a></li>
              {% endfor %}

              <li><a>Current Page</a></li>
            </ul>
          </div>
          <ul class="nav nav-tabs nav-stacked" id="pregen">
  
        </ul>

        </div>
        <div class="span4">
          


          <h2>Generator</h2>
          <p> Upload a midi file to generate a graph

              <form action="/" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <p>{{ form.non_field_errors }}</p>
                          <p>{{ form.label_tag }} {{ form.help_text }}</p>
                          <p>
                              {{ form.errors }}
                              {{ form }}
                          </p>
                          <p><input id="uploadbtn" type="submit" value="Upload" /></p>
              </form>
          </p>
        </div>

        <div class="span4">
          <h2>Processing Queue</h2>
	  <div id="queuespace"></div>
        </div> 
            <!-- <p>
              Alternatively, paste an URL to a midi file.
              <form action="/urlsubmit" method="post">

              <input class="span3" name="url" id="id_url" type="text" placeholder="Url">
              <br />
              <button type="submit" class="btn">Submit</button>
            </form></p>
            </p> -->
       
      
      </div>

      <hr>
 

      <footer>
        <p>&copy; <a href="http://astoundwireless.com"> Astound Wireless Ltd </a>2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="https://raw.github.com/BorisMoore/jsrender/master/jsrender.js"></script>
    
  <script type="text/javascript">
    $.views.helpers({

      basename: function( val) {
        var ret;
        return val.replace(/.*\//, "" );
        
      }
    });
  </script>

{% verbatim %}
<script id="chainTemplate" type="text/x-jsrender">
          <li class="well" id="{{>id}}">
            <div class="btn-group btn-group-vertical">
              <a class="btn-success btn" href="#" onClick="$.ajax({ type: 'GET', url: '/vote/up/{{>id}}'}).done(function(){renderList();});;"><i class="icon-arrow-up"></i></a>
	      <a class="btn-info btn">{{>rank}}</a>
              <a class="btn-danger btn" href="#" onClick="$.ajax({ type: 'GET', url: '/vote/down/{{>id}}'}).done(function(){renderList();});;"><i class="icon-arrow-down"></i></a>
            </div>
            

            <p class="lead">{{>fileName}}</p>
            <p><a href="http://musikov.twinhelix.org/media/graphs/{{>~basename(pngFile)}}">PNG Graph</a></p>
            <p><a href="http://musikov.twinhelix.org/media/graphs/{{>~basename(svgFile)}}">SVG Graph</a></p>
            <p><a href="http://musikov.twinhelix.org/media/graphs/{{>~basename(dotFile)}}">dotFile</a></p>

          </li>
          <li class="divider"></li>
</script>

<script id="alertTemplate" type="text/x-jsrender">
<div class="alert alert-block alert-error fade in" id="alert-{{>alertID}}">
  <button type="button" class="close" data-dismiss="alert" onClick="$('#alert-{{>alertID}}').remove();">&times;</button>
  <h4 class="alert-heading">{{>alertHeading}}</h4>
  <p>{{>alertMessage}}</p>
 </div>
</script>


<script id="queueTemplate" type="text/x-jsrender">
<div class="progress progress-striped active">
            {{>queue_name}}
            <div class="bar" style="width: 50%;"></div>
          </div>
</script>
{% endverbatim %}
<script>

  $.templates(  {
    chainTemplate: "#chainTemplate", 
    alertTemplate: "#alertTemplate",
    queueTemplate: "#queueTemplate" }  );

function generateAlert(id, heading,message){

    var alertHTML = $.render.alertTemplate({alertID:id, alertHeading:heading, alertMessage:message});
    $("#alertspace").append(alertHTML);

}

function renderList() {
  $("#pregen").empty();
  $.getJSON("http://musikov.twinhelix.org/api/midichain/?format=json",

    function(data) {
      $.each(data.objects, function(i,item){
        var html = $.render.chainTemplate( item );

        $("#pregen").append(html);
      });
    });

};

function pageList(loadPage) {
  $("#pregen").empty();
  var offset = loadPage * 20;
  var limit = {{PAGINATION_LIMIT}};
  $.getJSON("http://musikov.twinhelix.org/api/midichain/?format=json&offset="+offset+"&limit="+limit,

    function(data) {
      $.each(data.objects, function(i,item){
        var html = $.render.chainTemplate( item );

        $("#pregen").append(html);
      });
    });

};

$(document).ready(renderList());


      var pusher = new Pusher('4ce3bc725e312e2fcc43'); // Replace with your app key
      var channel_queue = pusher.subscribe('queue_updates');
      var list_queue = pusher.subscribe('list_updates');

      channel_queue.bind('queue_added', function(data) {

        generateAlert('Processing', "Currently processing a new song.");
	var qhtml = $.render.queueTemplate({'queue_name':data});
	$("#queuespace").append(qhtml);
      });

      list_queue.bind('list_added', function(data) {
        generateAlert('Complete', "A new song has finished processing.");


       // alert('An event was triggered with message: ' + data.message);
       renderList();

      });
    </script>
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-246179-H";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35746917-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
$('#id_userFile').change(function(){
    var file = this.files[0];
    name = file.name;
    size = file.size;
    type = file.type;
    if (type != "audio/midi"){
	alert("You can only upload MIDI files");
    	this.files = Array();
    }
});

</script>
  </body>
</html>
